//= require Materialize
//= require_tree .

body {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.bx-wrapper img {
  margin: 0 auto; }

.bx-wrapper img {
  margin: auto;
  width: 720px;
  height: 500px; }

.bx-wrapper .bx-caption {
  width: 720px; }

.center {
  margin: auto;
  text-align: center;
}

.bold {
  font-weight: 600
}

.banner_block {
  text-color: white;
  // position: absolute;
  // padding-top: 390px;
  // margin-bottom: 390px;
}

h2 { text-color: white;}

// .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
// .flexslider .slides img {width: 100%; display: block;}
// .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; background-color: #ffffff; text-align: center;}
// .flexslider .slides img {width: auto; display: inline;}

// .flexslider {
//     width: 600px;
//     height: 600px;
// }

.flexslider .slides img {
  margin: auto;
  max-width: 800px;
  max-height: 800px;
}

#partners img {
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
}

