// require bxslider-4/dist/jquery.bxslider.css
//= require Materialize
//= require_tree .

.bx-wrapper img {
  margin: 0 auto; }

.bx-wrapper img {
  margin: auto;
  width: 720px;
  height: 500px; }

.bx-wrapper .bx-caption {
  width: 720px; }

.center {
  margin: auto;
  text-align: center;
}

.bold {
  font-weight: 600
}

.banner_block {
  text-color: white;
  padding-top: 390px;
}

