// require bxslider-4/dist/jquery.bxslider.css
//= require_tree .

.bx-wrapper img {
  margin: 0 auto; }

.bx-wrapper img {
  margin: auto;
  width: 720px;
  height: 500px; }

.bx-wrapper .bx-caption {
  width: 720px; }

.center {
  margin: auto;
  text-align: center;
}

// li img{
// position:relative;
// z-index:-99999;
// }

// li span{
// position:relative;
// z-index:99999;
// }

// .under-text-over-image{
// position:relative;
// z-index:11111;
// }

