//= require Materialize
//= require_tree .

body {
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.bx-wrapper img {
  margin: 0 auto; }

.bx-wrapper img {
  margin: auto;
  width: 720px;
  height: 500px; }

.bx-wrapper .bx-caption {
  width: 720px; }

.center {
  margin: auto;
  text-align: center;
}

.bold {
  font-weight: 600
}

.banner_block {
  text-color: white;
  // position: absolute;
  // padding-top: 390px;
  // margin-bottom: 390px;
}

h2 { text-color: white;}
