<section id="banner">
    <div class="inner">
        <h2>Лотип центра событий</h2>
        <ul class="actions">
            <li><a href="#content" class="button big special">Главная</a></li>
            <li><a href="#elements" class="button big alt">Направления</a></li>
            <li><a href="#elements" class="button big alt">Дела и отзывы</a></li>
            <li><a href="#elements" class="button big alt">Цены</a></li>
            <li><a href="#elements" class="button big alt">Контакты</a></li>
        </ul>
    </div>
</section>
