section#banner
  .inner
    h2 Лотип центра событий
    .u6.ul.actions
      a.button.big.special href="#content"  Главная
      a.button.big.alt href="#elements"  Направления
      a.button.big.alt href="#elements"  Дела и отзывы
      a.button.big.alt href="#elements"  Цены
      a.button.big.alt href="#elements"  Контакты
