---
title: Site
---

= partial "_partials/one"
= partial "_partials/two"
= partial "_partials/three"
= partial "_partials/four"


/ ul.bxslider
/   li = image_tag "1.jpg"
/   li = image_tag "2.jpg"
/   li = image_tag "3.jpg"

/ .row
/   .callbacks_container
/     ul.slider.rslides
/       li
/         = image_tag "1.jpg"
/         p.caption This is a caption
/       li
/         = image_tag "2.jpg"
/         p.caption This is another caption
/       li
/         = image_tag "3.jpg"
/         p.caption The third caption
/ .clearfix
